#set($layout = "/WEB-INF/vm/layout/default.vm")
<script language="javascript" type="text/javascript" src="/js/template.js"></script>
<script language="javascript" type="text/javascript" src="/js/del.js"></script>
<div class="box"><!--盒子开始-->

    <div class="title "><!--标题区开始-->
        <div class="left">
            <div class="title_gl">关键字管理</div>
        </div>
        <div class="right">
            <a href="/keyword/create.do">添加关键字</a>
            <a href="/index.do">首页</a>
        </div>
    </div>
    <!--标题区结束-->

    <!--查询区开始-->
    <div class="panel_search">
        <form id="mainForm" method="get" action="/keyword/query.do">
            <table border="0" cellpadding="0" cellspacing="2">
                <tr>
                    <td>
                        帐户：
                        <select name="select_id" id="select_id">
                            <option value="0">请选择</option>
                            #foreach($accountsApi in $accountsApis)
                                <option value="$!{accountsApi.id}">$!{accountsApi.accountName}</option>
                            #end
                        </select>
                        <input name="accountId" class="span5" type="hidden" value="$!{accountId}"/>
                        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        消息类型：
                        <select name="select_type" id="select_type">
                            <option value="">---请选择---</option>
                            #foreach($type in $msgTypeMap.entrySet())
                                <option value="$!{type.key}">$!{type.value}</option>
                            #end
                        </select>
                        <input name="msgType" class="span5" type="hidden" value="$!{msgType}"/>
                        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        关键字：
                        <input name="keyWord" class="span5" type="text"
                               placeholder="" value="$!{keyWord}"/>
                        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        <!--account id-->
                        <input name="pageNum" type="hidden" value="1">
                        <button type="submit" id="submitButton" class=" btn" style="position:absolute;"><i
                                class="icon-search"></i> 查询
                        </button>
                        <button type="button" id="resetButton" class=" btn"
                                style="position:absolute;margin-left: 80px;"> 重置
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <!--查询区结束-->
    #if($keywordApis.size() > 0)
        <div class="panel_grid"><!--列表区开始-->
            <table class="table table-hover" id="indexList">
                <tr>
                    <th>编号</th>
                    <th>关键字</th>
                    <th>消息类型</th>
                    <th>帐号</th>
                    <th>创建日期</th>
                    <th>操作</th>
                </tr>
                #foreach($keywordApi in $keywordApis)
                    <tr>
                        <td style="text-align:center">
                            $!{keywordApi.id}
                        </td>
                        <td style="text-align:center">
                            $!{keywordApi.keyWord}
                        </td>
                        <td style="text-align:center">
                            #if($!{keywordApi.msgType} == "single_article_nomedia")
                                无图
                            #elseif($!{keywordApi.msgType} == "single_article")
                                单图
                            #elseif($!{keywordApi.msgType} == "multi_article")
                                图文
                            #elseif($!{keywordApi.msgType} == "text")
                                文本
                            #elseif($!{keywordApi.msgType} == "tuan")
                                微信团
                            #elseif($!{keywordApi.msgType} == "bind")
                                绑定
                            #elseif($!{keywordApi.msgType} == "card")
                                卡券
                            #elseif($!{keywordApi.msgType} == "image")
                                图片
                            #end

                        </td>
                        <td style="text-align:center">
                            $!{keywordApi.accountName}
                        </td>
                        <td style="text-align:center">
                            $dateTool.format('yyyy-MM-dd HH:mm:ss',$keywordApi.createdAt)
                        </td>
                        #if($!{keywordApi.msgType} == "tuan")
                            <td style="text-align:center">
                                <a href="/keyword/editTuan.do?keyword=$!{keywordApi.keyWord}&accountid=$!{keywordApi.accountId}">
                                    <i class="icon-pencil"></i>&nbsp;编辑
                                </a>
                                <a style="color: grey">
                                    <i class="icon-pencil"></i>&nbsp;删除
                                </a>

                            </td>
                        #else
                            <td style="text-align:center">
                                <a href="/keyword/edit.do?id=$!{keywordApi.id}&accountName=$!{keywordApi.accountName}">
                                    <i class="icon-pencil"></i>&nbsp;编辑
                                </a>
                                <a href="/keyword/editStatus.do?id=$!{keywordApi.id}" style="color:red" onclick="del()">
                                    <i class="icon-pencil"></i>&nbsp;删除
                                </a>
                            </td>
                        #end

                    </tr>
                #end
            </table>
        </div>
        #showPage($!{module},$!{pageModel})
        <!--列表区结束-->
    #else
        未找到结果
    #end

    <script>
        $(function () {
            $("#resetButton").click(function () {
                $("#select_id").val("0");
                $("#select_type").val("");
                $("input[name='msgType']").val("");
                $("input[name='accountId']").val("0");
                $("input[name='keyWord']").val("");
                var select = document.getElementById("select_type");
                for (var i = 1; i < select.options.length;) {
                    select.removeChild(select.options[i]);
                }
            });

            $("#select_id").change(function () {
                $("input[name='accountId']").val($(this).val())
                $("input[name='msgType']").val("");
                $("#select_type").val("");
                var select_type = document.getElementById("select_type");
                for (var i = 1; i < select_type.options.length;) {
                    select_type.removeChild(select_type.options[i]);
                }
                cascadeMsgType($(this).val(), "keyword");
            });
            $("#select_id").val("$!{accountId}");
            $("#select_type").change(function () {
                $("input[name='msgType']").val($(this).val());
            });

            $("#select_type").val("$!{msgType}");
//            $("#submitButton").submit();
        });

    </script>
</div><!--盒子结束-->

