#set($layout = "/WEB-INF/vm/layout/default.vm")
<script language="javascript" type="text/javascript" src="/js/del.js"></script>
<div class="box"><!--盒子开始-->

    <div class="title "><!--标题区开始-->
        <div class="left">
            <div class="title_gl">帐户管理</div>
        </div>
        <div class="right">
            <a href="/accounts/create.do">添加帐户</a>
            <a href="/index.do">首页</a>
        </div>
    </div>
    <!--标题区结束-->

    <!--查询区开始-->
    <div class="panel_search">
        <form id="mainForm" method="get" action="/accounts/query.do">
            <table  border="0" cellpadding="0" cellspacing="2">
                <tr>
                    <td >
                        名称：
                        <input name="name" class="span5" type="text"
                               placeholder=""  value="$!{name}" />
                        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        类型：
                        <select name="type"  id="type">
                            <option value="0">---请选择---</option>
                            <option value="1">订阅号</option>
                            <option value="2">服务号</option>
                            <option value="3">小米服务号</option>
                            <option value="4">微信开放平台</option>
                        </select>
                        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        <input name="pageNum" type="hidden" value="1">
                        <button type="submit" id="submitButton" class=" btn" style="position: absolute;"><i class="icon-search"></i> 查询</button>
                        <button type="button" id="resetButton" class=" btn" style="position:absolute;margin-left: 80px;"> 重置</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <!--查询区结束-->
    #if($accountsApis.size() > 0)
        <div class="panel_grid"><!--列表区开始-->
            <table class="table table-hover" id="indexList">
                <tr>
                    <th>编号</th>
                    <th>名称</th>
                    <th>类型</th>
                    <th>appid</th>
                    <th>appsecret</th>
                    <th>sourceid</th>
                    <th>创建日期</th>
                    <th>操作</th>
                </tr>
                #foreach($accounts in $accountsApis)
                    <tr>
                        <td style="text-align:center">
                            $!{accounts.id}
                        </td>
                        <td style="text-align:center">
                            $!{accounts.accountName}
                        </td>
                        <td style="text-align:center">
                            #if($!{accounts.accountType} == "1")
                                订阅号
                            #elseif($!{accounts.accountType} == "2")
                                服务号
                            #elseif($!{accounts.accountType} == "3")
                                小米服务号
                            #else
                                微信开放平台
                            #end
                        </td>
                        <td style="text-align:center">
                            $!{accounts.appid}
                        </td>
                        <td style="text-align:center">
                            $!{accounts.appsecert}
                        </td>
                        <td style="text-align:center">
                            $!{accounts.sourceId}
                        </td>
                        <td style="text-align:center">
                            $dateTool.format('yyyy-MM-dd HH:mm:ss',$!{accounts.createdAt})
                        </td>
                        <td style="text-align:center">
                            <a href="/accounts/edit.do?id=$!{accounts.id}">
                                <i class="icon-pencil"></i>&nbsp;编辑
                            </a>
                            #if($accounts.isvoid == 0)
                                <a href="/accounts/editStatus.do?id=$!{accounts.id}" style="color:red" onclick="del()">
                                    <i class="icon-pencil" ></i>&nbsp;删除
                                </a>
                            #end
                        </td>
                    </tr>
                #end
            </table>
        </div>
        #showPage($!{module},$!{pageModel})
        <!--列表区结束-->
    #else
        未找到结果
    #end

    <script>
        $(function(){
            $("#resetButton").click(function(){
                $("#type").val("0");
                $("input[name='name']").val("")
            });
            $("#type").val("$!{type}");
        });
    </script>
</div><!--盒子结束-->

