<script language="javascript" type="text/javascript" src="/My97DatePicker/WdatePicker.js"></script>
<div class="box"><!--盒子开始-->
    <div class="title"><!--标题区开始-->
        <div class="left">
            <div class="title_gl">添加文字模板信息</div>
            <div class="title_fbt"></div>
            <div class="bh"></div>
        </div>
    </div>
    <!--标题区结束-->
    <div class="row-fluid">
        <div class="block">

            <div class="block-content collapse in"><!--列表区开始-->
                <div class="span12">
                    <form class="form-horizontal" name="form" id="mainForm"  action="/textTemplate/save.do" method="post">
                        <legend></legend>
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label">帐户：<span class="required">*</span></label>
                                <div class="controls">
                                    <select name="select_id"  id="select_id">
                                        <option value="0">---请选择---</option>
                                        #foreach($accountsApi in $accountsApis)
                                            <option value="$!{accountsApi.id}">$!{accountsApi.accountName}</option>
                                        #end
                                    </select>
                                    <input name="accountId" class="span5" type="hidden"  value="0" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">文字模板名称：<span class="required">*</span></label>
                                <div class="controls">
                                    <input name="name" class="span5" type="text"
                                           placeholder=""  value="" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">文字模板内容：<span class="required">*</span></label>
                                <div class="controls">
##                                    <input name="content" class="span5" type="text"
##                                           placeholder="模板内容"  value="" />
                                    <textarea class="span5" rows="10" cols="30" name="content" id="content"></textarea>
                                </div>
                            </div>

                            <div class="form-actions">
                                <button type="button" id="submitButton" class="btn btn-primary" ">
                                <i class="icon-ok icon-white"></i>提交
                                </button>
                                <button type="button" class="btn"  onclick="javascript:history.go(-1);"><i class="icon-repeat"></i>取消</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--列表区结束-->
    <script>
        $(function(){
            $("#select_id").change(function(){
                $("input[name='accountId']").val($(this).val())
            });
            $("#submitButton").click(function(){
                var name = $("input[name='name']").val();
                var content = $("#content").val();
                var accountId = $("input[name='accountId']").val();

                if (accountId == "0") {
                    alert("请选择帐户");
                    return false;
                }
                if(!jQuery.trim(name)){
                    alert("名称不能为空");
                    return false;
                }
                if(name.length > 100){
                    alert("名称只允许100个字符");
                    return false;
                }
                if(!jQuery.trim(content)) {
                    alert("内容不能为空");
                    return false;
                }
                if(content.length > 500){
                    alert("内容只允许500个字符");
                    return false;
                }

                $("#mainForm").submit();
            });
        });
    </script>
</div><!--盒子结束-->
