<head>
    <title>womai</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>platform</title>
    <link href="/css/bootstrap.min.3.0.css" rel="stylesheet">
    <link href="/css/bootstrap.base.v1.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-treeview.min.js"></script>
</head>