#set($layout = "/WEB-INF/vm/layout/default.vm")
<script language="javascript" type="text/javascript" src="/js/del.js"></script>
<div class="box"><!--盒子开始-->

    <div class="title "><!--标题区开始-->
        <div class="left">
            <div class="title_gl">图片模板管理</div>
        </div>
        <div class="right">
            <a href="/imageTemplate/create.do">添加图片模板</a>
            <a href="/index.do">首页</a>
        </div>
    </div>
    <!--标题区结束-->

    <!--查询区开始-->
    <div class="panel_search">
        <form id="mainForm" method="get" action="/imageTemplate/query.do">
            <table  border="0" cellpadding="0" cellspacing="2">
                <tr>
                    <td >
                        帐户：
                        <select name="accountId" id="accountId" >
                            <option value="0">请选择</option>
                            #foreach($accountsApi in $accountsApis)
                                <option value="$!{accountsApi.id}">$!{accountsApi.accountName}</option>
                            #end
                        </select>
                        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        名称：
                        <input name="name" class="span5" type="text"
                               placeholder=""  value="$!{name}" />
                        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        <!--account id-->
                        <input name="pageNum" type="hidden" value="1">
                        <button type="submit" id="submitButton" class=" btn" style="position:absolute;"><i class="icon-search"></i> 查询</button>
                        <button type="button" id="resetButton" class=" btn" style="position:absolute;margin-left: 80px;"> 重置</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <!--查询区结束-->
    #if($imageTemplateApis.size() > 0)
        <div class="panel_grid"><!--列表区开始-->
            <table class="table table-hover" id="indexList">
                <tr>
                    <th>编号</th>
                    <th>名称</th>
                    <th>媒体id</th>
                    <th>帐号</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                #foreach($imageTemplateApi in $imageTemplateApis)
                    <tr>
                        <td style="text-align:left">
                            $!{imageTemplateApi.id}
                        </td>
                        <td style="text-align:left">
                            $!{imageTemplateApi.name}
                        </td>
                        <td style="text-align:left">
                            $!{imageTemplateApi.mediaId}
                        </td>
                        <td style="text-align:left">
                            $!{imageTemplateApi.accountName}
                        </td>
                        <td style="text-align:left">
                            $dateTool.format('yyyy-MM-dd HH:mm:ss',$imageTemplateApi.createdAt)
                        </td>
                        <td>
                            <a href="/imageTemplate/edit.do?id=$!{imageTemplateApi.id}">
                                <i class="icon-pencil"></i>&nbsp;编辑
                            </a>
                            <a href="/imageTemplate/editStatus.do?id=$!{imageTemplateApi.id}" style="color:red" onclick="del()">
                                <i class="icon-pencil" ></i>&nbsp;删除
                            </a>
                        </td>
                    </tr>
                #end
            </table>
        </div>
        #showPage($!{module},$!{pageModel})
        <!--列表区结束-->
    #else
        未找到结果
    #end

    <script>
        $(function(){
            $("#resetButton").click(function(){
                $("#accountId").val("0");
                $("input[name='name']").val("")
            });
        });
        $("#accountId").val("$!{accountId}");
    </script>
</div><!--盒子结束-->

